<h1>Education</h1>

<div class="wrapper">
  <ck-education-item
    name="University of Waterloo"
    degreeInfo="Master of Mathematics, Computer Science"
    startYear="2020"
    endYear="2022"
    iconUrl="assets/images/uwaterloo.png"
  ></ck-education-item>

  <ck-education-item
    name="University of Calgary"
    degreeInfo="Bachelor’s Degree, Computer Science, 3.9 GPA in Major Field"
    startYear="2014"
    endYear="2020"
    iconUrl="assets/images/uofc.png"
  ></ck-education-item>
</div>
