<h1>Hey <span class="hand-emoji">👋🏻</span>,</h1>

<h2>I'm Chris Kinzel.</h2>

<p class="summary">
  I'm a Masters student at the University of Waterloo and a software engineer. I
  specialize in building healthcare software for medical professionals and their
  patients. I have experience designing and building web applications, mobile
  apps, and backend API's.
</p>

<div class="resume-actions">
  <a
    mat-stroked-button
    color="secondary"
    class="resume-action"
    href="assets/resume.pdf"
    download="chriskinzel-resume.pdf"
    >⬇️ Download Resume</a
  >

  <a
    mat-stroked-button
    color="secondary"
    class="resume-action"
    target="_blank"
    href="assets/resume.pdf"
    >📑️ View Resume</a
  >
</div>
