<h1>Experience</h1>

<div class="tech-section">
  <p>These are some of the technologies I've recently been working with:</p>

  <div class="tech-list">
    <div class="tech-item">
      <img src="assets/images/angular.png" class="icon-img" />Angular
    </div>
    <div class="tech-item">
      <img src="assets/images/html5.png" class="icon-img" />HTML/CSS
    </div>
    <div class="tech-item">
      <img src="assets/images/sql.png" class="icon-img" />SQL
    </div>
    <div class="tech-item">
      <img src="assets/images/aws.png" class="icon-img" />Amazon Web Services
    </div>
    <div class="tech-item">
      <img src="assets/images/nodejs.png" class="icon-img" />Node.js
    </div>
  </div>

  <p>
    Although these are what's fresh in my mind, in the past I've also done iOS
    app development and worked on projects in lower level languages such as C
    and C++
  </p>
</div>
