<h1>Get in Touch</h1>

<div class="wrapper">
  <a href="mailto:chriskinzel13@gmail.com" target="_blank"
    ><span class="emoji">📧</span>:&nbsp;<span class="text"
      >chriskinzel13@gmail.com</span
    ></a
  >
  <a href="https://github.com/chriskinzel" target="_blank"
    ><fa-icon [icon]="githubIcon"></fa-icon>:&nbsp;<span class="text"
      >@chriskinzel</span
    ></a
  >
  <a href="https://www.linkedin.com/in/chris-kinzel-2b5b51132" target="_blank"
    ><fa-icon [icon]="linkedInIcon"></fa-icon>:&nbsp;<span class="text"
      >@Chris Kinzel</span
    ></a
  >
</div>
<div class="wrapper">
  <a href="assets/resume.pdf" target="_blank"
    ><span class="emoji">📑</span>:&nbsp;<span class="text"
      >View Resume</span
    ></a
  >
  <a href="assets/resume.pdf" download="chriskinzel-resume.pdf"
    ><span class="emoji">⬇️</span>:&nbsp;<span class="text"
      >Download Resume</span
    ></a
  >
</div>
