:host {
  color: black;
  --overlay-opacity: 0.5;
  --icon-height: 35px;
}

.wrapper {
  position: relative;
  cursor: pointer;
}

h1 {
  font-size: 150%;
  font-weight: 500;
  text-align: center;
  margin: 0.5rem 0;
}

.project-img,
.project-info {
  border-radius: 5px;
}

.project-img {
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 100%;
  transition: width 0.5s, margin 0.5s, z-index 1s;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  opacity: 0;

  background-color: rgba(255, 255, 255, var(--overlay-opacity));
  padding: 0.5rem 1rem;

  transition: opacity 0.4s;

  width: calc(100% - var(--grid-gap));
}
.wrapper.card-style {
  cursor: default;

  .project-info {
    transition: opacity 0s 0s, margin 0.5s;
    font-size: 150%;
    margin-bottom: -100%;
    z-index: 0;
  }
}

.wrapper:hover:not(.card-style) {
  .project-img {
    filter: blur(4px);
  }
  .project-info {
    opacity: 1;
  }
}

.wrapper.card-style.enlarged {
  .project-info {
    --overlay-opacity: 0.9;

    transition: opacity 0.5s 0.4s, margin 0.5s;

    position: static;
    opacity: 1;
    margin-top: -1rem;
    padding-top: 1rem;

    margin-bottom: 0;

    width: 200%;
  }
  .project-img {
    width: calc(200% + var(--grid-gap) + 1px);
    z-index: 2;
    transition: width 0.5s, margin 0.5s, z-index 0s;
  }
  .project-img,
  .project-info {
    margin-left: calc((-100% - var(--grid-gap) - 1px) * var(--is-right-child));
  }
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: calc(var(--icon-height) / 2);
}

.tech-icon {
  height: var(--icon-height);
  margin: 0 0.5rem;
}

p {
  font-size: 100%;
  line-height: 133%;
}
