<h1>Products I've worked on</h1>

<div class="projects-section">
  <p>
    Here's some of the software I've built during my time working for Pixineers
    and Essential Clinic.
  </p>

  <div class="project-grid">
    <ck-project-item
      name="Essential Clinic"
      imageUrl="assets/images/essential-clinic.jpg"
      usesAngular="true"
      usesAWS="true"
      usesNodeJs="true"
    >
      Online telemedicine clinic for patients suffering from androgenic
      alopecia. My role was to develop software for physicians to triage,
      process, and prescribe incoming patients.
    </ck-project-item>
    <ck-project-item
      name="FaceTouchUp"
      imageUrl="assets/images/facetouchup.jpg"
      usesAngular="true"
      usesiOS="true"
      usesAndroid="true"
      usesRails="true"
      usesWebGL="true"
    >
      Virtual plastic surgery simulator for plastic surgeons and their patients.
      I was responsible for building the graphics engine for the simulation
      tool, the user interface, and payment processing.
    </ck-project-item>
    <ck-project-item
      name="CSI Dry Eye"
      imageUrl="assets/images/csi.jpg"
      usesAngular="true"
      usesAWS="true"
    >
      Ophthalmic software for managing patients with dry eye disease. Developed
      proof of concept Angular SPA with AWS backend into finished marketable
      product.
    </ck-project-item>
    <ck-project-item
      name="CORA"
      imageUrl="assets/images/cora.jpg"
      usesAngular="true"
      usesSpark="true"
    >
      Cardiac Outcomes Risk Assessment: ML-based clinical decision making
      software for patients with end-stage heart failure. My team was
      responsible for developing the user interface and maintaining the backend.
    </ck-project-item>
    <ck-project-item
      name="PHORA"
      imageUrl="assets/images/phora.jpg"
      usesAngular="true"
      usesSpark="true"
    >
      Pulmonary-Hypertension Outcomes Risk Assessment: ML-based clinical
      decision making software for patients with pulmonary hypertension.
    </ck-project-item>
  </div>
</div>
