h1 {
  font-size: 300%;
  line-height: 250%;
  margin-left: var(--header-undent);
}

p {
  font-size: 133%;
  line-height: 166%;
}

.projects-section p {
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.project-grid {
  --grid-gap: 2rem;

  display: grid;
  grid-template-columns: calc(50% - var(--grid-gap) / 2) calc(
      50% - var(--grid-gap) / 2
    );
  grid-gap: var(--grid-gap);

  margin-bottom: 3rem;
}

ck-project-item:nth-child(odd) {
  --is-right-child: 0;
}
ck-project-item:nth-child(even) {
  --is-right-child: 1;
}

ck-project-item[name="CSI Dry Eye"] {
  --overlay-opacity: 0.7;
}
ck-project-item[name="FaceTouchUp"] {
  --icon-height: 25px;
}
